<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Inchoo\NewsWithComments\Api\Data\NewsSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Inchoo\NewsWithComments\Api\Data\NewsInterface" type="Inchoo\NewsWithComments\Model\News" />
    <preference for="Inchoo\NewsWithComments\Api\NewsRepositoryInterface" type="Inchoo\NewsWithComments\Model\NewsRepository" />

    <preference for="Inchoo\NewsWithComments\Api\Data\CommentsSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Inchoo\NewsWithComments\Api\Data\CommentsInterface" type="Inchoo\NewsWithComments\Model\Comments" />
    <preference for="Inchoo\NewsWithComments\Api\CommentsRepositoryInterface" type="Inchoo\NewsWithComments\Model\CommentsRepository" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="inchoo_news_listing_data_source" xsi:type="string">\Inchoo\NewsWithComments\Model\ResourceModel\News\Collection</item>
                <item name="inchoo_comments_listing_data_source" xsi:type="string">\Inchoo\NewsWithComments\Model\ResourceModel\Comments\Collection</item>
            </argument>
        </arguments>
    </type>
</config>